body {
  font-family: "Poppins" !important;
}

.section-container {
  max-width: 100%;
}

.ff-serif {
  font-family: "Merriweather";
}

.theme-text-color {
  color: #401c74;
}

.theme-bg-color {
  background-color: #401c74;
}

.header-footer-bg{
  background-color: #f7f4fd;
}

.btn-style {
  background-color: #e7d5ff;
  color: #401c74 !important;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  max-width: 120px;
  text-align: center;
  cursor: pointer;
}

.search-btn-style{
  background-color: #401c74;
  color: white;
  padding: 8px;
  border-radius: 8px;
}

.form-control{
  box-shadow: none !important;
  border-color: #401c74 !important;
}


/* Hover Effects */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #b38ee7;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  background: #d3bff0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
  color: white;
}

.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  -webkit-transform: perspective(1px) translateZ(0) scale(1.1);
  transform: perspective(1px) translateZ(0) scale(1.1);
}



@media (max-width: 391px) {
  .swiper-button-prev,
  .swiper-button-next {
    transform: scale(0.5);
    position: absolute;
    top: 70%;
    transform: translateY(300px);
  }
}

@media screen and (max-width: 450px) {
  .logo {
    width: 150px;
    margin-right: 25px;
  }

  .carousel-card {
    width: 80%;
  }

  .cards-wrapper {
    display: flex;
  }

  .swiper-slide .card {
    height: 550px;
  }

  .form {
    padding-right: 30px;
    padding-left: 40px;
  }
}

@media screen and (min-width: 451px) and (max-width: 832px) {
  .nav-item,
  .nav-link,
  .dropdown-item {
    font-size: 20px;
  }

  p {
    font-size: 1.3rem !important;
  }
}

@media screen and (min-width: 568px) {
  .cards-wrapper {
    display: flex;
  }

  .carousel-card {
    margin: 0 0.5em;
    width: calc(100% / 3);
  }

  .swiper-slide .card {
    height: 420px;
  }
}

@media screen and (max-width: 576px) {
  .image-wrapper {
    height: 100%;
    width: 100%;
  }

  .image-wrapper img {
    width: 100%;
    height: auto;
    display: block;
  }

  .carousel-card {
    width: 70%;
  }

  .cards-wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
  }

  .swiper-button-prev,
  .swiper-button-next {
    font-size: 10px !important;
    position: absolute;
    top: 60%;
    transform: translateY(200px);
  }

  p {
    font-size: 1rem;
  }
}

@media (min-width: 576px) and (max-width: 832px) {
  .swiper-button-prev,
  .swiper-button-next {
    transform: scale(0.5);
    position: absolute;
    top: 50%;
    transform: translateY(100px);
  }

  .image-wrapper img {
    width: 100%;
    height: 100%;
    display: block;
  }

  .image-wrapper {
    height: 15vw !important;
    margin: 0 auto;
    width: 100%;
  }

  .image-wrapper {
    height: 100%;
    width: 100%;
  }

  p {
    font-size: 1rem !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .hero-card-title,
  .hero-card-title {
    font-size: 1rem !important;
  }
}


@media screen and (min-width: 833px) and (max-width: 1200px) {
  #search-bar {
    margin-top: 70px;
    position: absolute;
    left: 80%;
    height: 35px;
    width: 220px;
  }

  .image-wrapper {
    height: 15vw;
    margin: 0 auto;
    width: 100%;
  }

  .image-wrapper img {
    width: 100%;
    height: 100%;
    display: block;
  }

  .nav-item,
  .nav-link,
  .dropdown-item {
    font-size: 14px;
  }

  p {
    font-size: 1.2rem;
  }

  .card-title,
  .hero-card-title {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 1201px) {
  #search-bar {
    height: 35px;
    width: 200px;
    margin-top: 8px;
  }

  .image-wrapper img {
    width: 100%;
    height: 100%;
    display: block;
  }
  .image-wrapper {
    height: 15vw;
    margin: 0 auto;
    width: 100%;
  }

  .nav-item,
  .nav-link,
  .dropdown-item {
    font-size: 1.1rem;
  }

  .footer .nav-item {
    padding-left: 18px;
  }

  p {
    font-size: 1.5rem;
  }

  .card-title,
  .hero-card-title {
    font-size: 1.8rem;
  }
}

.swiper-button-next,
.swiper-button-prev {
  margin: 13%;
  color: #401c74 !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #9080a7 !important;
}

.active {
  width: 200px;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.card-common-style {
  height: 350px !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  border: none !important;
}

.slick-prev,
.slick-next {
  color: #401c74 !important;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.slick-prev {
  margin-left: 20px !important;
  z-index: 1;
}

.slick-next {
  margin-right: 35px !important;
  z-index: 1;
}

.slick-prev:hover,
.slick-next:hover {
  color: #301257 !important;
}

.slick-prev::before,
.slick-next::before {
  font-size: 40px !important;
  color: #401c74 !important;
  background-color: white;
  opacity: 100 !important;
  border-radius: 50%;
}

.slick-prev:hover::before,
.slick-next:hover::before {
  color: #301257;
}

.card-shadow {
  box-shadow: rgba(0, 0, 0, 4.35) 0px -50px 36px -28px inset;
}

.prev,
.next {
  text-decoration: none;
  color: #401c74;
  font-size: 40px;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
